/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* 
-------------------------------------------------- */

h1,h2,h3,h4,h5,h6, {
    font-family: 'Varela Round', sans-serif;
}

.lead {
	font-family: 'Varela Round', sans-serif;
	font-weight: normal;
}

.purple {
    color: #e750e2;
}

#site-header2 {
    font-family: 'Varela Round', sans-serif;
	color:#ffffff;

} 


#site-header-span {

}


@media(max-width:767px){
	
	#site-header2 {
	}

	#site-header-span img{
		width: 320px;
	}
	
}
@media(min-width:768px){

	#site-header2 {
	}
	
}
@media(min-width:992px){
	#site-header2 {
	}

}
@media(min-width:1200px){
	#site-header2 {
	}

	
}



.vertical_center {
    display: flex;
    align-items: center;
}

#site-header {
	display: inline-block;
	padding-left: 155px;
	background-image: url('../img/fsl-icon-trans.png');
	background-repeat:no-repeat;
	background-position:left center;
	background-size: 135px 68px;
	
}



/* INTRO CONTENT
-------------------------------------------------- */
.intro-section {
    padding-top: 30px;
    padding-bottom: 40px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

.marketing {
    padding-top: 30px;
}


.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #00abd1;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/* embedding */

.embed-wrapper {
    display: block; height: 100%; width: 100%;  
     max-height: 506px;max-width: 625px; 
    
     margin: 0 auto;
     
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  

}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;

}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}


#socialicons {
	text-align: center;
}
#socialicons .icon{
	background: #306cf6;
	display: inline-block;
	color: white;
	font-size: 18px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	vertical-align: middle;
  	margin: 0 1px 8px;
  	-webkit-border-radius: 17px; 
  	-moz-border-radius: 17px; 
  	border-radius: 17px; 
}
#socialicons .icon:hover{
	background: #00aeff;
}

 






